# Rust
/target/
**/*.rs.bk
Cargo.lock

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Vite
/web/dist/
/web/.vite/

# WASM
/web/src/js/wasm_artifacts/pkg/

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db